/* css reset */
html, body, ul, li {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-wrapper {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}
/********************* Header **************************/
.header {
    height: 70px;
    background-color: grey;
}

.logo {
    height: 50px;
    width: 200px;
    float: left;
    color: orange;
}

#lang {
    float: right;
    margin: 3px;
    
}

#lang > a {
    color: #F6F6F6;
}

.user-info {
    float: right;
    margin-top: 5px;
}

#error {
    height: 20px;
    color: red;
    font-size: 9pt;
}

div.user-info label {
    font-size: 10pt;
    color: white;
}

.login, .password {
    width: 120px;
}

.logout {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

.logout:hover {
    text-decoration: underline;
    cursor: pointer;
}

.authsubmit {
    width: 100px;
}

.button-locale:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #FF0000;
}
/********************************** Menu-bar ***************************/
.menu-bar {
    height: 20px;
    background-color: orange;
}

.menu-obj {
    margin-left: 10px;
}

.menu-obj-item {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

li.menu-obj-item a {
    text-decoration: none;
    cursor: pointer;
}

li.menu-obj-item a:hover {
    text-decoration: underline;
}
/****************** Buttons ***************************************/
.buttons-block {
    /*background-color: #7396FF;*/
}

.buttons-container {
    margin: 0px 10px 0px 100px;
    padding: 5px;
}

.control-button {
    width: 120px;
}

#save {
   
}

/******************************** Content *******************/
.content {
    height: 600px;
}
.table-container {
    height: 300px;
    float: left;
    margin: 10px;
}

.footer {
    height: 20px;
    background-color: grey;
}
/**************** css for login form template***********/
#login-form-template {
    display: none;
}

/***************css for issue template *****************/
#issue-template {
    /*display: none;*/
}

.obj-fields {
    width: 600px;
    height: 500px;
    padding-right: 5px;
    float: left;
    /*background-color: #FF7373;*/
}

.detail-col-name {
    width: 150px;
	text-align: right;
	font-weight: 800;
}

.detail-col-value {
    text-align: left;
}

.detail-col-input {
    
}

.detail-col-select {
    width: 153px;
}

.description {
    width: 400px;
    height: 50px;
    /*resize: vertical;*/
    resize: none;
    overflow: x-scroll;
}

.com-att {
    height: 100%;
    width: 500px;
    float: left;
    
    /*background-color: #FFB299;*/
}

.field-label {
    display: block;
    width: 100%;
    margin: 0px 0px 5px 0px;
    border-bottom: 1px dotted #7396FF;
}

#assignee {
    width: 400px;
}

#summary {
    width: 400px;
}

/********************************* Comments ********************************/
.comments-container {
    height: 550px;
    padding-left: 10px;
    /*background-color: #BFBFFF;*/
}

.comments-list {
    height: 250px;
}

.comment-block {
    height: 80px;
    overflow: x-scroll;
 
}

.comment-value {
    border-right: 1px dotted #8A8A7B;
    border-bottom: 1px solid #8A8A7B;
    height: 50px;
    text-align: left;
}

.comment-create-by {
    float: right;
    padding: 3px 5px 3px 5px;
    font-size: 10pt;
}

.comment-create-date {
    float: right;
    padding: 3px 5px 3px 5px;
    font-size: 10pt;
}

.new-comment {
    width: 480px;
    height: 150px;
    resize: none;
    overflow: x-scroll;
}

/************************************ Attachments ******************************/

.attachments-container {
    display: block;
    height: 180px;
    /*background-color: #99FF99;*/
    margin-left: 20px;
}

.attachments-list {
    height: 100px;
    /*background-color: #FFFF99;*/
}

#file-upload-form {
    border: 1px solid red;
    text-align: left;
}

#button-upload {
    
}
.attachment {
    text-align: left;
}
/************* Priorities styles **********************************/
.minor-priority-highlight {
    color: green;
}
.important-priority-highlight {
    color: orange;
}
.critical-priority-highlight {
    color: red;
}
.major-priority-highlight {
    color: #7396FF;    
}

/************* User Form ***************************/
input.text {
	margin-bottom:12px; 
	width:95%; 
	padding: .4em;
}

fieldset {
	padding:0; 
	border:0; 
	margin-top:25px;
}

h1 {
	font-size: 1.2em; 
	margin: .6em 0;
}
div#users-contain {
	width: 350px;
	margin: 20px 0;
}
div#users-contain table { 
	margin: 1em 0;
	border-collapse: collapse;
	width: 100%;
}
div#users-contain table td, div#users-contain table th {
	border: 1px solid #eee;
	padding: .6em 10px;
	text-align: left;
}

.hidden-block {
	display: none;
}

.ui-dialog  {
	font-size: 82.5%;
}

.ui-dialog .ui-state-error {
	padding: .3em;
}

.ui-button-text {
	font-size: 72.5%;
}
.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}
/************************ Users Table ***********************/
#users-table-container, #roles-table-container {
	margin-top: 10px;
}

#users-table-container {
	width: 750px;
	height: 400px;
	float: left;
}
#roles-table-container {
	width: 300px;
	height: 400px;
	float: left;
}

.prop-table-container, .projects-table-container,
.builds-table-container {
	float: left;
	padding: 10px;
}

.prop-table-container {
	width: 300x;
	height: 200px;
}

.projects-table-container {
	width: 500x;
	height: 200px;
}

.builds-table-container {
	width: 500x;
	height: 200px;
}

.search-container {
    font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size:1.1em;
    border:1px solid #ddd;
    background:#eee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;
    color:#333;
    border-radius:4px;
    width: 300px;
    height: 200px;
    z-index: 950;
    overflow: hidden;
    top: 104px;
    left: 37px;
    display: hidden;
    position: absolute;
    padding: .2em;
    overflow:visible;
 }