/* css reset */
html, body, ul, li {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-wrapper {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}
/********************* Header **************************/
.header {
    height: 70px;
    background-color: grey;
}

.logo {
    height: 50px;
    width: 200px;
    float: left;
    color: orange;
}

#lang {
    float: right;
    margin: 3px;
    
}

#lang > a {
    color: #F6F6F6;
}

.user-info {
    /*height: 50px;
    width: 450px;
    border: 1px solid black;*/
    float: right;
    margin-top: 10px;
}

#error {
    height: 20px;
    color: red;
    font-size: 9pt;
}

div.user-info label {
    font-size: 10pt;
    color: white;
}

.login, .password {
    width: 120px;
}

.logout {
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

.logout:hover {
    text-decoration: underline;
}

.authsubmit {
    width: 100px;
}
/********************************** Menu-bar ***************************/
.menu-bar {
    height: 20px;
    background-color: orange;
}

.menu-obj {
    margin-left: 10px;
}

.menu-obj-item {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

li.menu-obj-item a {
    text-decoration: none;
    cursor: pointer;
}

li.menu-obj-item a:hover {
    text-decoration: underline;
}
/****************** Buttons ***************************************/
.buttons-block {
    background-color: #7396FF;
}

.buttons-container {
    margin: 0px 10px 0px 100px;
    padding: 5px;
}

.control-button {
    width: 80px;
}

#save {
   
}

/******************************** Content *******************/
.content {
    height: 500px;
}
.table-container {
    height: 300px;
    float: left;
    margin: 10px;
}

.footer {
    height: 20px;
    background-color: grey;
}
/**************** css for login form template***********/
#login-form-template {
    display: none;
}

/***************css for issue template *****************/
#issue-template {
    /*display: none;*/
}

.obj-fields {
    width: 550px;
    float: left;
    background-color: #FF7373;
}

.detail-col-name {
	text-align: right;
	font-weight: 800;
}

.detail-col-value {
    text-align: left;
}

.detail-col-input {
    
}

.detail-col-select {
    width: 153px;
}

.description {
    width: 400px;
    height: 50px;
    resize: vertical;
    overflow: x-scroll;
}

.com-att {
    height: 100%;
    width: 500px;
    float: left;
    background-color: #FFB299;
}

.field-label {
    display: block;
    width: 100%;
   
}

#assignee {
    width: 400px;
}

#summary {
    width: 400px;
}


.attachment {
    
}

.comments-container {
    display: block;
    height: 440px;
    width: 100%;
    background-color: #BFBFFF;
}

.comments-list {
    width: 480px;
    height: 250px;
}

.comment {
    width: 480px;
    resize: none;
    overflow: x-scroll;
}

.attachments-container {
    display: block;
    height: 150px;
    width: 500px;
    background-color: #99FF99;
}

.attachments-list {
    height: 100px;
    background-color: #FFFF99;
}
/************* Priorities styles **********************************/
.minor-priority-highlight {
    color: green;
}
.important-priority-highlight {
    color: orange;
}
.critical-priority-highlight {
    color: red;
}

/************* End of Priorities styles ***************************/