/* css reset */
html, body, ul, li {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-wrapper {
	width: 1200px;
	text-align: center;
	margin: 0 auto;
}

.header {
	height: 70px;
	background-color: grey;
}

.logo {
	height: 50px;
	width: 200px;
	float: left;
	color: orange;
}

.user-info {
	/*height: 50px;
	width: 450px;
	border: 1px solid black;*/
	float: right;
    margin-top: 10px;
}

#error {
	height: 20px;
	color: red;
	font-size: 9pt;
}

div.user-info label {
    font-size: 10pt;
    color: white;
}

.login, .password {
    width: 120px;
}

.logout {
	margin-left: 10px;
	text-decoration: none;
	color: white;
}

.logout:hover {
	text-decoration: underline;
}

.authsubmit {
    width: 100px;
}

.menu-bar {
	height: 20px;
	background-color: orange;
}

.menu-obj {
	margin-left: 10px;
}

.menu-obj-item {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}

li.menu-obj-item a {
	text-decoration: none;
	cursor: pointer;
}

li.menu-obj-item a:hover {
	text-decoration: underline;
}

.content {
	height: 400px;
}
.table-container {
	height: 300px;
	float: left;
	margin: 10px;
}

.footer {
	height: 20px;
	background-color: grey;
}

/***************css for issue template *****************/
#issue-template {
	display: none;
}

.obj-fields {
    width: 500px;
    float: left;
}

.obj-fields-item {
    height: 20px;
    width: 300px;
    float: left;
    text-align: left;
    margin: 2px;
    overflow: hidden;
}

.com-att {
    width: 500px;
    float: left;
}

.comment, .attachment {
    height: 150px;
}

.comments-container {
    height: 100px;
    border: 1px solid black;
}

.attachments-container {
    height: 100px;
    border: 1px solid black;
}

